# Set-up

In [1]:
import pandas as pd
import numpy as np

In [2]:
from math import radians, cos, sin, asin, sqrt

def haversine(lon1, lat1, lon2, lat2):

    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles. Determines return value units.
    return c * r

In [3]:
traffic_image=pd.read_csv('traffic_image.csv')
traffic_incidents=pd.read_csv('traffic_incidents.csv')
traffic_speed=pd.read_csv('traffic_speed.csv')
weather=pd.read_csv('weather.csv')

In [12]:
traffic_image['key']=0
traffic_incidents['key']=0
weather['key']=0

In [5]:
traffic_incidents

,Type,Latitude,Longitude,Message,key
0,Roadwork,1.306733,103.872351,(24/10)18:41 Roadworks on KPE (towards TPE) at...,0
1,Roadwork,1.306089,103.771215,(24/10)13:15 Roadworks on Clementi Road (towar...,0

In [10]:
nearest_incidents=traffic_image.merge(traffic_incidents,'outer','key')
nearest_incidents['distance_from_id']=(np.vectorize(haversine)(nearest_incidents['Latitude_x'],nearest_incidents['Longitude_x'],nearest_incidents['Latitude_y'],nearest_incidents['Longitude_y']))*1000
nearest_incidents=nearest_incidents[nearest_incidents['distance_from_id']<500].sort_values('distance_from_id')
nearest_incidents

,CameraID,Latitude_x,Longitude_x,ImageLink,key,Type,Latitude_y,Longitude_y,Message,distance_from_id
0,1001,1.295313,103.871146,https://dm-traffic-camera-itsc.s3.ap-southeast...,0,Roadwork,1.306733,103.872351,(24/10)18:41 Roadworks on KPE (towards TPE) at...,332.638705
6,1004,1.319536,103.875067,https://dm-traffic-camera-itsc.s3.ap-southeast...,0,Roadwork,1.306733,103.872351,(24/10)18:41 Roadworks on KPE (towards TPE) at...,455.734008
4,1003,1.323957,103.872858,https://dm-traffic-camera-itsc.s3.ap-southeast...,0,Roadwork,1.306733,103.872351,(24/10)18:41 Roadworks on KPE (towards TPE) at...,462.639833

In [19]:
nearest_weather=traffic_image.merge(weather,'outer','key')
nearest_weather['distance_from_id']=(np.vectorize(haversine)(nearest_weather['Latitude'],nearest_weather['Longitude'],nearest_weather['latitude'],nearest_weather['longitude']))*1000
nearest_weather=nearest_weather.sort_values('distance_from_id').groupby('CameraID').head(1).sort_values('distance_from_id')

In [7]:
df=pd.read_csv('traffic_image_region.csv')
df

    CameraID  Latitude   Longitude   Region
0       1001  1.295313  103.871146  Central
1       1002  1.319541  103.878563  Central
2       1003  1.323957  103.872858  Central
3       1004  1.319536  103.875067  Central
4       1005  1.363520  103.905394     East
..       ...       ...         ...      ...
82      9702  1.394741  103.817971    North
83      9703  1.422857  103.773005    North
84      9704  1.422143  103.795421    North
85      9705  1.426277  103.787166    North
86      9706  1.412701  103.806427    North

[87 rows x 4 columns]